bson==0.5.6
certifi==2018.8.24
click==6.7
Flask==1.0.2
Flask-Markdown==0.3
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
pymongo==3.7.1
python-dateutil==2.7.3
six==1.11.0
Werkzeug==0.14.1
